<!DOCTYPE html>

<html lang="en">
  <head profile="file:///Users/m/Sites/client-records/image/favicon.png">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!-- The profile="..." andn the link tag are what displays the favicon -->

    <meta charset="UTF-8">
    <!-- Docs for meta charset https://www.w3schools.com/tags/att_meta_charset.asp -->

    <title>Vue Client Records API</title>
    <!-- This is the title that is displayed in the browser tab -->

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'>
    <!-- For CloudFlare Style Docs https://materializecss.com/ -->
  </head>

  <body>
    <nav> <!-- NAVIGATION START -->
      <div class="container"> <!-- CONTAINER START -->
        <div class="nav-wrapper"> <!-- NAVIGATION WRAPPER START -->
          <a href="#" class="brand-logo">Client Records</a> 

          <ul id="nav-mobile" class="right hide-on-med-and-down"> <!-- NAVIVIGATION LINKS START -->
            <li><a href="projects.html">Projects</a></li>

            <li><a href="retainers.html">Retainers</a></li>
          </ul> <!-- NAVIGATION LINKS END #nav-mobile .right .hide-on-med-and-down -->
        </div> <!-- NAVIGATION WRAPPER END .nav-wrapper -->
      </div> <!-- CONTAINER END .container -->
    </nav> <!-- NAVIGATION END -->

    <div id="app"> <!-- APP START -->
      <div class="container">
        <table class="striped">
          <thead> <!-- ^*^* The head of the table displaying information about Clients -->
            <th>ID</th> <!-- ^*^* The Database ID, I think this is the order in which they were entered into the Database -->

            <th>Client Entity/Company</th> <!-- The Client Entity/Company Name  -->

            <th>Active Project</th> <!-- Weather or not the Client has any onging, non-retainer projects -->

            <th>Client Email</th> <!-- Email For Point of Contact -->

            <th>Point Of Conatct</th> <!-- Name of Point of Contact -->
            
            <th>Start Date</th> <!-- The Date of the First Contract Signed By This Client -->
          </thead>

          <tr v-for="(client, key) in clients[0]">
            <td>{{ key + 1 }}</td> <!-- This is the Entity ID -->
              <!-- The Database IDs for displaying each Property or Column about Clients -->
              <!-- 'client' is the name of the Kind or Table -->
              <!-- The '.cl_blank' is the Property or Column -->
              <!-- The 'cl_' prefix sigifies that this Property or Column to Clients only -->
              <!-- 'Clients' are a type of Entity. Other prefixes will be used to denote Projects 'pr_' and Retainers 'rt_' -->
              <!-- The uppercase 'Clients' refers to the type of Entity while the lowercse 'clients' refers to the name of the Kind or Table of the Database -->
              <!-- This helps diferentiate Data that both types of Entity sets may need to have recorded like:
              'cl_name' vs 'pr_name', 
              'cl_status' vs 'pr_status',
              'cl_start_date' vs 'pr_start_date'. -->
              <td>{{ client.cl_client_name }}</td> <!-- The Database ID -->

              <td id="status">{{ client.cl_status }}</td> <!-- The Client Entity/Company Name https://vuejs.org/v2/guide/conditional.html -->

              <td>{{ client.cl_email }}</td> <!-- Weather or not the Client has any onging, non-retainer projects -->

              <td>{{ client.cl_last_name }}, {{ client.cl_first_name }}</td> <!-- Name of Point of Contact -->

              <td>{{ client.cl_start_date }}</td> <!-- The Date of the First Contract Signed By This Client -->
            </tr>
          </table> <!-- TABLE END .striped -->
        </div> <!-- CONTAINER END .container -->
      </div> <!-- APP END .app -->

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
    <!-- VU JS Docs https://v1.vuejs.org/guide/ -->
    <script src="js/index.js"></script>
    <!-- This is what links the Javascript to the HTML file -->
    <!-- I really need to get better at Javascript https://www.w3schools.com/js -->
  </body>
</html>