<!DOCTYPE html>

<html lang="en">
  <head profile="file:///Users/m/Sites/client-records/image/favicon.png">
      <link rel="icon" type="image/png" href="images/favicon.png">

    <meta charset="UTF-8">

    <title>Vue Retainers Records API</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'>  
  </head>

  <body>
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Client Records</a>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="projects.html">Projects</a></li>

            <li><a href="index.html">Clients</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="app">
      <div class="container">
        <table class="striped">
          <thead>
            <th>ID</th>

            <th>Client Name</th>

            <th>Client Status</th>

            <th>Client Email</th>

            <th>First Name</th>

            <th>Last Name</th>
            
            <th>Start Date</th>
          </thead>

          <tr v-for="(client, key) in clients[0]">
            <td>{{ key + 1 }}
              <td>{{ client.cl_client_name }}</td>

              <td>{{ client.cl_status }}</td>

              <td>{{ client.cl_email }}</td>

              <td>{{ client.cl_first_name }}</td>

              <td>{{ client.cl_last_name }}</td>

              <td>{{ client.cl_start_date }}</td>
            </tr>
          </table>
        </div>
      </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>

    <script  src="js/index.js"></script>
  </body>
</html>